<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container px-5 my-5">
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="form-floating mb-3">
                <input class="form-control" id="firstName" type="text" placeholder="First name" data-sb-validations="required" />
                <label for="firstName">First name</label>
                <div class="invalid-feedback" data-sb-feedback="firstName:required">First name is required.</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="lastName" type="text" placeholder="Last name" data-sb-validations="required" />
                <label for="lastName">Last name</label>
                <div class="invalid-feedback" data-sb-feedback="lastName:required">Last name is required.</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                <label for="emailAddress">Email Address</label>
                <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="password" type="text" placeholder="Password" data-sb-validations="required" />
                <label for="password">Password</label>
                <div class="invalid-feedback" data-sb-feedback="password:required">Password is required.</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="repeatPassword" type="text" placeholder="Repeat password" data-sb-validations="required" />
                <label for="repeatPassword">Repeat password</label>
                <div class="invalid-feedback" data-sb-feedback="repeatPassword:required">Repeat password is required.</div>
            </div>
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    <p>To activate this form, sign up at</p>
                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                </div>
            </div>
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>