{% extends 'registration/base_generic.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    {% if form.errors %}
        <p>Your username or password is incorrect. Please try again.</p>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Login</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-row">
                                <label for="username" class="name">{{ form.username.label_tag }}</label>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" id="username" name="username">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="password" class="name">Password:</label>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="password" id="password" name="password">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <button class="btn btn--radius-2 btn--red" type="submit">Log in</button>
                                <a class="name" href="{% url 'password_reset' %}" style="padding-left: 10px">
                                    Forgotten your password?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}