{% extends 'registration/base_generic.html' %}

{% block title %}
    Logout
{% endblock %}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Password reset</h2>
                    </div>
                    <div class="card-body">
                        <div class="text" style="font-size: 18px">
                            <p>You have been successfully logged out.</p>
                          <p><a href="{% url 'index' %}">Click here</a> to return to the home page.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}