{% extends 'registration/base_generic.html' %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    {% if validlink %}
      {% if form.errors %}
        <p>Passwords do not match. Please, try again.</p>
      {% endif %}
      <form method="post" action="">
        {% csrf_token %}
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Password reset</h2>
                    </div>
                    <div class="card-body">
                      <div class="form-row">
                        <label for="password" class="name">New password:</label>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="password" id="password" name="password">
                          </div>
                        </div>
                        <label for="password_rep" class="name">Repeat password:</label>
                        <div class="value">
                          <div class="input-group">
                            <input class="input--style-5" type="password" id="password_rep" name="password_rep">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </form>
    {% else %}
    {% endif %}
{% endblock %}