{% extends 'registration/base_generic.html' %}

{% block title %}
  Password reset
{% endblock %}

{% block content %}
  {% csrf_token %}
  <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">Password reset</h2>
        </div>
        <div class="card-body">
          <div class="text" style="font-size: 18px">
            <p>We have emailed you instructions for setting your password.
              If they haven't arrived in a few minutes, check your spam folder.</p>
            <p>To return to login page, <a href="{% url 'login' %}">click here.</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}