{% extends 'registration/base_generic.html' %}

{% block title %} Password reset {% endblock %}

{% block content %}
  <form method="post" action="">
    {% csrf_token %}
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
      <div class="wrapper wrapper--w790">
        <div class="card card-5">
          <div class="card-heading">
            <h2 class="title">Password reset</h2>
          </div>
          <div class="card-body">
            {% if validlink %}
              <div class="form-row">
                <label for="new_password1" class="name">New password:</label>
                <div class="value">
                  <div class="input-group">
                    <input class="input--style-5"
                           {% if form.new_password2.errors %}style="border: 2px solid red"{% endif %}
                           type="password" id="new_password1" name="new_password1">
                  </div>
                  {{ form.new_password2.errors }}
                </div>
              </div>
              <div class="form-row">
                <label for="new_password2" class="name">Repeat password:</label>
                <div class="value">
                  <div class="input-group">
                    <input class="input--style-5"
                           {% if form.new_password2.errors %}style="border: 2px solid red"{% endif %}
                           type="password" id="new_password2" name="new_password2">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <button class="btn btn--radius-2 btn--red" type="submit">Change password</button>
              </div>
            {% else %}
              <div class="text" style="font-size: 18px">
                <p>The link has expired or the password has been already changed.</p>
                <p>If you wish to reset the password again, <a href="{% url 'password_reset' %}">click here.</a></p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}