{% load feed_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
  </head>
  <body>
    <p style="font-size: 18px;">This is a password reset email for <b>{{ email }}</b>. To reset your password,
      <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">click here</a></p>
    <p style="font-size: 18px;">Best regards, <br>Zeroed support</p>
    <!-- this is needed to avoid Gmail trimming -->
    <span style="opacity: 0"> {% randomness %} </span>
  </body>
</html>