{% extends 'registration/base_generic.html' %}

{% block title %}
    Password reset
{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>You entered incorrect email format. Please, try again.</p>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
            <div class="wrapper wrapper--w790">
                <div class="card card-5">
                    <div class="card-heading">
                        <h2 class="title">Password reset form</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-row">
                                <label for="email" class="name">{{ form.email.label_tag }}</label>
                                <div class="value">
                                    <div class="input-group">
                                        <input class="input--style-5" type="text" id="email" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <button class="btn btn--radius-2 btn--red" type="submit">Send reset link</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}