{% load feed_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
  </head>
  <body style="font-size: 18px;">
    <p>Thank you for registering on Zeroed, <b>{{ username }}</b>!<br>To activate your account,
      <a href="{{ protocol }}://{{ domain }}{% url 'register-confirm' pk %}">click here</a><p>
    <p>Best regards, <br>Zeroed support</p>
    <!-- this is needed to avoid Gmail trimming -->
    <span style="opacity: 0"> {% randomness %} </span>
  </body>
</html>
