<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Blogs</title>
    {% endblock %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <script src="https://kit.fontawesome.com/68df9223d1.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body>
    <div class="d-flex justify-content-around bg-dark">
      <a class="navbar-brand" href="#">*Name*</a>
      <nav class="navbar navbar-expand bg-dark justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item active"><a class="nav-link link-light" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'all-blogs' %}">Blogs</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'all-authors' %}">Authors</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'write' %}">Write</a></li>
          <!-- {% if is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="">My profile</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="">Log in</a></li>
          {% endif %} -->
        </ul>
      </nav>
      <div class="align-middle">
        <a href="#">Log in</a>
        <i class="fa-sharp fa-solid fa-right-to-bracket fa-lg" style="color: #ffffff;"></i>
      </div>
    </div>

    <div>
      {% block content %}{% endblock %}
      {% block pagination %}
        {% if is_paginated %}
          <div class="pagination">
            <span class="page-links">
              {% if page_obj.has_previous %}
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
            </span>
          </div>
        {% endif %}
      {% endblock %}
    </div>
  </body>
</html>
