{% extends 'base_generic.html' %}
{% load static %}
{% load feed_extras %}

{% block title %} {{ blog.title }} {% endblock %}

{% block header %}
  <header class="masthead" style="background-image: url('{% static 'feed/assets/img/post-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <div class="page-heading">
              <div class="post-heading">
                <div class="transbox">
                  <h1>{{ blog.title }}</h1>
                  <!--<h2 class="subheading">blog.intro</h2>-->
                  <span class="meta">Posted by
                    <a href="{% url 'profile' blog.author.pk %}">{{ blog.author }}</a> on {{ blog.post_date }}
                  </span>
                  <span class="meta" style="padding: 20px 10px">
                    {% if user.is_authenticated %}
                        <a href="{% url 'rate' blog.pk %}">
                          {% if user in blog.upvoters.all %}
                            <i class="fa-solid fa-heart fa-lg" style="color: #ffffff;" title="likes"></i>
                          {% else %}
                            <i class="fa-regular fa-heart fa-lg" style="color: #ffffff;" title="likes"></i>
                          {% endif %}
                        </a>
                    {% else %}
                      <a href="{% url 'login' %}">
                        <i class="fa-regular fa-heart fa-lg" style="color: #ffffff;" title="likes"></i>
                      </a>
                    {% endif %} {{ blog.get_rating }}
                    <i class="fa-sharp fa-light fa-eye fa-lg" style="color: #ffffff;" title="views"></i> {{ blog.views }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <!-- Post Content-->
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <!--TODO do something with safety-->
            {{ blog.content.html|safe }}
            <!-- comment section -->
            <form action="{% url 'comment-add' blog.pk %}" method="POST">
              {% csrf_token %}
              <div class="form-floating" style="padding-bottom: 10px;">
                <input class="form-control" id="comment-write" name="text" type="text" placeholder="" value=""/>
                <label for="comment-write">Make a comment...</label>
              </div>
              <button class="btn btn-primary text-uppercase" type="submit">Post</button>
            </form>
            <div>
              {% if blog.comment_set %}
                {% for comment in blog.comment_set.all %}
                  <div id="comment" style="padding-top: 20px; padding-bottom: 20px;">
                    <div id="author">
                      <span class="tag is-light">{{ comment.user.userprofile.image }}</span>
                      <span class="tag">
                        <a href="{% url 'profile' comment.user.pk %}">{{ comment.user.username }}</a>
                      </span>
                      <span class="tag">{{ comment.post_date }}</span>
                    </div>
                    {{ comment.text }}
                  </div>
                {% endfor %}
              {% else %}
                <p>There are no comments yet...</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </article>
{% endblock %}