{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ blog.title }}</h1>

  <p><strong>Author: </strong> <a href="{{ blog.author.get_absolute_url }}">{{ blog.author }}</a></p>
  <p><strong>Language: </strong>{{ blog.language }}</p>
  <p><strong>Content type: </strong>{{ blog.content_type.all|join:", " }}</p>
  <p><strong>Post date: </strong>{{ blog.post_date }}</p>
  <p><strong>Content: </strong>{{ blog.content }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Comments</h4>
    {% for comment in blog.comment_set.all %}
        <p><a href="{{ comment.user.get_absolute_url }}">
        {{ comment.user }}</a> ({{ comment.post_date }}) - {{ comment.text }}</p>
    {% endfor %}
  </div>

{% endblock %}
