{% extends 'base_generic.html' %}
{% load static %}
{% load bleach_tags %}

{% block title %} {{ blog.title }} {% endblock %}

{% block header %}
  <!-- TODO change opacity to 100% prob? -->
  <header class="masthead" style="background-image: url({{ blog.picture.url }})">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <div class="page-heading">
              <div class="post-heading">
                <div class="transbox">
                  <h1>{{ blog.title }}</h1>
                  <!--<h2 class="subheading">blog.intro</h2>-->
                  <span class="meta">Posted by
                    <a href="{% url 'profile' blog.author.pk %}">{{ blog.author }}</a> on {{ blog.post_date }}
                  </span>
                  <span class="meta" style="padding: 20px 10px">
                    <a href="{% url 'rate' blog.pk %}">
                      <i class="fa-{% if user in blog.upvoters.all %}solid{% else %}regular{% endif %} fa-heart fa-lg" style="color: #ffffff;" title="likes"></i>
                    </a> {{ blog.get_rating }}
                    <i class="fa-sharp fa-light fa-eye fa-lg" style="color: #ffffff;" title="views"></i> {{ blog.views }}
                    {% if user == blog.author %}<a class="confirm-delete" href="{% url 'blog-delete' blog.pk %}" style="padding-left: 5px;"><i class="fa-solid fa-trash-can fa-lg"></i></a>{% endif %}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
  <!-- Post Content-->
    <article class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            {{ blog.content.html|bleach }}
            <!-- comment section -->
            <form action="{% url 'comment-add' blog.pk %}" method="post">
              {% csrf_token %}
              <div class="form-floating" id="comment-section" style="padding-bottom: 10px;">
                <input class="form-control" id="comment-write" name="text" type="text" placeholder="" value=""/>
                <label for="comment-write">Make a comment...</label>
              </div>
              <div {% if not perms.feed.add_comment %}
                title="You cannot comment with less than 5 reputation!"{% endif %}>
                <button class="btn btn-primary text-uppercase"
                    {% if user.is_authorized and not perms.feed.add_comment %} disabled title="You cannot comment with less than 5 reputation!"{% endif %}
                    type="submit">Post</button></div>
            </form>
            {% if blog.comment_set.count %}
              {% for comment in blog.comment_set.all %}
                <div class="d-flex justify-content-between" {% if forloop.first %} style="padding-top: 20px;" {% endif %}>
                  <div class="p-2" id="comment-grid">
                    <div id="comment-pic">
                      <a href="{% url 'profile' comment.user.pk %}">
                        <img class="rounded-circle" src="{{ comment.user.userprofile.picture.url }}" alt="img" width="55" height="55">
                      </a>
                    </div>
                    <div id="comment-user" class="badge bg-light">
                      <a href="{% url 'profile' comment.user.pk %}">
                        {{ comment.user.username }}
                      </a>
                    </div>
                    <div id="comment-date" class="badge bg-light">{{ comment.post_date }}</div>
                  </div>
                  {% if user == comment.user %}
                    <!-- form to allow comment deletion without confirmation -->
                    <form id="comment_form" method="post" action="{% url 'comment-delete' blog.pk comment.pk %}">{% csrf_token %}</form>
                    <a class="p-2" onclick="document.getElementById('comment_form').submit();"><i class="fa-solid fa-trash-can"></i></a>
                  {% endif %}
                </div>
                <div id="comment-text">
                  {{ comment.text }}
                </div>
                {% if not forloop.last %}
                  <hr>
                {% endif %}
              {% endfor %}
            {% else %}
              <p>There are no comments yet. Be the first!</p>
            {% endif %}
          </div>
        </div>
      </div>
    </article>
{% endblock %}