{% extends 'base_generic.html' %}


{% load static %}

{% block header %}
  <header class="masthead" style="background-image: url('{% static 'feed/assets/img/home-bg.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
{% block content %}
  <!-- Main Content-->
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for blog in all_blogs %}
          <div class="post-preview">
            <a href="{% url 'blog' blog.pk %}">
              <h2 class="post-title">{{ blog.title }}</h2>
            </a>
            <p class="post-meta">
              Posted by
              <a href="{% url 'profile' blog.author.pk %}">{{ blog.author.username }}</a>
              on {{ blog.post_date }}
            </p>
          </div>
        {% endfor %}
        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
      </div>
    </div>
  </div>
{% endblock %}
